[submodule "launch_param_builder"]
	path = launch_param_builder
	url = https://github.com/PickNikRobotics/launch_param_builder


[submodule "moveit2"]
        path = moveit2
	url = https://github.com/ros-planning/moveit2


[submodule "moveit2_tutorials"]
        path = moveit2_tutorials
	url = https://github.com/ros-planning/moveit2_tutorials


[submodule "moveit_resources"]
        path = moveit_resources
	url = https://github.com/ros-planning/moveit_resources


[submodule "moveit_task_constructor"]
        path = moveit_task_constructor
	url = https://github.com/ros-planning/moveit_task_constructor

[submodule "moveit_visual_tools"]
        path = moveit_visual_tools
	url = https://github.com/ros-planning/moveit_vistual_tools

[submodule "rosparam_shortcuts"]
        path = rosparam_shortcuts
	url = https://github.com/PickNikRobotics/rosparam_shortcuts

[submodule "srdfdom"]
        path = srdfdom
        url = https://github.com/ros-planning/srdfdom









